/* global */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inconsolata", monospace;
  background-image: linear-gradient(
    to right,
    #56e6e6 10%,
    #51cedf 30%,
    #50a4be 60%
  );
}

.nav {
  background: #362749;
  cursor: pointer;
  padding: 10px 10px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 1.8rem;
}

.logo-container p {
  background-image: linear-gradient(to top, #992323 0%, #d1542e 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 2.3rem;
}

/* navbar min width 800 px */

@media screen and (min-width: 800px) {
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

/* hero section */
.hero {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

.task-container {
  border-right: 3px solid #fff;
}

.task-container h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: #852020;
  margin: 30px;
}

form {
  display: grid;
  margin: 0 20px;
  font-size: 1.5rem;
  color: #4e4444;
  font-weight: 700;
}

.from-control {
  display: grid;
}

form input,
select {
  height: 40px;
  margin: 5px 5px 5px;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #852020;
  font-weight: 700;
  color: #4e4444;
}

.btn {
  width: 200px;
  padding: 10px 40px;
  margin: 10px 0;
  justify-self: center;
  border-radius: 4px;
  border: none;
  background: #852020;
  color: #fff;
  font-size: 1.5rem;
}

.task-board {
  display: grid;
}
.task-board h1 {
  color: #852020;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
}
.cards-container {
  margin: 50px 0;
  padding: 0 32px;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 400px));
  grid-gap: 35px;
  justify-self: center;
  align-self: flex-start;
}

.card {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  border-radius: 4px;
  height: auto;
  align-self: start;
}

.card h1 {
  font-size: 1.7rem;
  padding: 5px;
  color: #852020;
}

.card p {
  font-size: 1.3rem;
  padding: 5px;
}

.card-status {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 5px;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.completed,
.delete {
  background: transparent;
  border: none;
  padding-right: 5px;
}

.completed {
  color: #187918;
  font-size: 1.2rem;
}

.delete {
  color: #a51818;
  font-size: 1.1rem;
}

/* hero section responsive */
@media screen and (max-width: 1250px) {
  .importance {
    display: inline-block;
    margin: 15px;
  }

  .importance p {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .task-container h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: #852020;
    margin: 30px 10px;
  }
}

@media screen and (max-width: 1000px) {
  .cards-container {
    grid-template-columns: repeat(1, minmax(250px, 400px));
  }
}

@media screen and (max-width: 740px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr;
  }

  .task-container {
    border-bottom: 3px solid #fff;
  }
}

.is-valid,
.is-invalid {
  visibility: hidden;
  height: 20px;
}

.valid,
.invalid {
  visibility: visible;
  font-size: 1rem;
  color: #080707;
  margin-bottom: 5px;
}
