/* global */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inconsolata", monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  background: #362749;
  cursor: pointer;
  padding: 10px 10px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 1.8rem;
}

.logo-container p {
  background-image: linear-gradient(to top, #992323 0%, #d1542e 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.9rem;
}
.links {
  height: 0;
  overflow: hidden;
}

.show-links {
  height: 120px;
  display: block;
}
.links li {
  margin: 5px 15px;
}

.links-a {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0 5px;
  letter-spacing: 2px;
}

.fa-map,
.fa-edit,
.fa-calendar-alt {
  font-size: 1.5rem;
  margin-right: 5px;
  color: #fff;
}

.toggle {
  color: #da3c3c;
}

/* navbar min width 800 px */

@media screen and (min-width: 800px) {
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .links {
    display: flex;
    height: auto !important;
    align-items: center;
    margin-right: 20px;
  }

  .toggle {
    display: none;
  }
}

/* hero section */
.hero {
  height: 100vh;
  background: #c9acec;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

.task-container {
  border-right: 1px solid #fff;
}

.task-container h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: #852020;
  margin: 30px;
}

form {
  display: grid;
  margin: 20px;
  font-size: 1.5rem;
  color: #4e4444;
  font-weight: 700;
}

form input,
select {
  height: 40px;
  margin: 10px 0 20px;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #852020;
  font-weight: 700;
}

.importance {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.importance p {
  font-size: 1.5rem;
  font-weight: 700;
}

.fa-star {
  font-size: 1.2rem;
  color: #852020;
}

.btn {
  width: 200px;
  padding: 10px 40px;
  margin-top: 10px;
  justify-self: center;
  border-radius: 4px;
  border: none;
  background: #852020;
  color: #fff;
  font-size: 1.5rem;
}
