/* global */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inconsolata", monospace;
  background-image: linear-gradient(
    to right,
    #ece4f6 10%,
    #dddcf3 30%,
    #e2cffa 60%
  );
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  background: #362749;
  cursor: pointer;
  padding: 10px 10px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 1.8rem;
}

.logo-container p {
  background-image: linear-gradient(to top, #992323 0%, #d1542e 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.9rem;
}
.links {
  height: 0;
  overflow: hidden;
}

.show-links {
  height: 120px;
  display: block;
}
.links li {
  margin: 5px 15px;
}

.links-a {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0 5px;
  letter-spacing: 2px;
}

.fa-map,
.fa-edit,
.fa-calendar-alt {
  font-size: 1.5rem;
  margin-right: 5px;
  color: #fff;
}

.toggle {
  color: #da3c3c;
}

/* navbar min width 800 px */

@media screen and (min-width: 800px) {
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .links {
    display: flex;
    height: auto !important;
    align-items: center;
    margin-right: 20px;
  }

  .toggle {
    display: none;
  }
}

/* hero section */
.hero {
  height: 100vh;
  /* background: #c9acec; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

.task-container {
  border-right: 3px solid #fff;
}

.task-container h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: #852020;
  margin: 30px;
}

form {
  display: grid;
  margin: 0 20px;
  font-size: 1.5rem;
  color: #4e4444;
  font-weight: 700;
}

.from-control {
  display: grid;
}

form input,
select {
  height: 40px;
  margin: 5px 5px 5px;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #852020;
  font-weight: 700;
  color: #4e4444;
}

.btn {
  width: 200px;
  padding: 10px 40px;
  margin: 10px 0;
  justify-self: center;
  border-radius: 4px;
  border: none;
  background: #852020;
  color: #fff;
  font-size: 1.5rem;
}

.task-board {
  display: grid;
}
.search-container {
  display: flex;
  height: 40px;
  justify-content: center;
  margin-top: 30px;
}

#search {
  width: 400px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border: #852020 1px solid;
  border-right-style: none;
  font-size: 1.2rem;
  font-weight: 700;
  background: #fff;
}

#filter {
  width: 150px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border: #852020 1px solid;
  border-right-style: none;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 10px;
}

#filter,
#search:focus {
  outline: none;
}

.btn-search,
.btn-filter {
  background: #852020;
  color: #fff;
  width: 30px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.search-container input {
  padding-left: 5px;
}

.cards-container {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 400px));
  grid-gap: 35px;
  justify-self: center;
}

.card {
  border: 1px solid #852020;
  border-radius: 4px;
  height: auto;
  align-self: start;
}

.card h1 {
  font-size: 1.7rem;
  padding: 5px;
}

.card p {
  font-size: 1.3rem;
  padding: 5px;
}

.card-status {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 5px;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.completed,
.edit,
.delete {
  background: transparent;
  border: none;
  padding-right: 5px;
}

.completed {
  color: #187918;
  font-size: 1.2rem;
}

.edit {
  color: #1c1cbb;
  font-size: 1.1rem;
}
.delete {
  color: #a51818;
  font-size: 1.1rem;
}

/* hero section responsive */
@media screen and (max-width: 1250px) {
  .importance {
    display: inline-block;
    margin: 15px;
  }

  .importance p {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .task-container h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: #852020;
    margin: 30px 10px;
  }
}

@media screen and (max-width: 1000px) {
  .cards-container {
    grid-template-columns: repeat(1, minmax(250px, 400px));
  }

  .search-container {
    display: flex;
    height: 40px;
    justify-content: center;
    margin-top: 30px;
  }
  #search {
    width: 300px;
  }

  #filter {
    width: 100px;
  }
}

@media screen and (max-width: 740px) {
  .btn-search,
  .btn-filter {
    width: 25px;
  }
  #search {
    width: 150px;
  }

  #filter {
    width: 70px;
  }
}

@media screen and (max-width: 740px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr;
  }

  .task-container {
    border-bottom: 3px solid #fff;
  }
}

.is-valid,
.is-invalid {
  visibility: hidden;
  height: 20px;
}

.valid,
.invalid {
  visibility: visible;
  font-size: 1rem;
  color: #080707;
  margin-bottom: 5px;
}
